// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #ccbcbc;
$secondary: #f1e3e4;
$dark: #a288a6;
$black: #1c1d21;
$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-serif: "Hind Madurai", serif;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
